<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImpromptuInterface" version="5.6.7" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Selenium.RC" version="2.40.0" targetFramework="net40" />
  <package id="Selenium.Support" version="2.40.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.40.0" targetFramework="net40" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.40.0" targetFramework="net40" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="SpecFlow.Assist.Dynamic" version="1.0.2" targetFramework="net40" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40" />
</packages>